.aside_footer-info {
 text-align: center;
 margin-top: 5rem;
}


.footer_btn_one{
  display: inline-block;
  width: 85px;
  height: 85px;
  position: relative;
  border-radius: 50%;
}

.footer_btn_one:after{
  border-radius: 50%;
  display: block;
  content: "";
  background: white;
  position: absolute;
  z-index: 1;
  left: 1px;
  top: 1px;
  height: 83px;
  width: 83px;
}

.p1 {
  background-image: linear-gradient(-10deg, black 50%, transparent 50%), 
  linear-gradient(10deg, black 50%, white 50%);
}